<h1>Chat</h1>

<label for="user">Correo:</label>
<input type="text" id="userTxt">
<label for="message">Mensaje:</label>
<input type="text" id="messageTxt">
<input type="button" value="Ingresar" id="btnIngresarMensaje">

<p id="listaMensajes"></p>
