<h1>Registro</h1>
<form action="api/session/altausuario" method="get">
    <label for="name">Nombre:</label>
    <input type="text" id="txtUsername" name="name"><br>    
    <label for="username">Email:</label>
    <input type="text" id="txtUsername" name="email"><br>
    <label for="password">Ingrese una contraseña:</label>
    <input type="password" id="txtPassword" name="password"><br>
    <label for="password">Repita la contraseña:</label>
    <input type="password" id="txtPassword2" name="password2"><br>
    <input type="submit" value="Ingresar" >
</form>

{{error}}