<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprapp</title>
</head>
<body>
   {{{body}}} 

   <script src="/socket.io/socket.io.js"></script>
   <script src="/js/index.js"></script>
   <script src="/js/indexRealtime.js"></script>
   <script src="/js/indexProducts.js"></script>
</body>
</html>